@import 'tailwindcss';
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-sans: var(--font-satoshi);
    --font-mono: var(--font-fira-code);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
  }

  code,
  pre {
    font-family: var(--font-mono);
  }

  @keyframes cell-ripple {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 0.4;
    }
  }

  .animate-cell-ripple {
    animation: cell-ripple var(--duration, 500ms) ease-out var(--delay, 0ms);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 8s ease infinite;
  }
}
