code {
  font-family: var(--font-mono), ui-monospace, monospace;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}
